.aside {
    width: 15%;
    height: auto;
    background-image: linear-gradient(rgb(70,4,4),rgb(4,72,108));
    border-right: 1px solid white;
    color: white;
    ul{
     display:flex;
     flex-direction: column;
     gap: 2rem;   
    }
    .plus{
        border-top: 1px solid white;
        margin-top: 3rem;
        padding: 1rem;
    }
}